.footer__link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  text-decoration: none;
}

.footer__link:hover {
  color: coral;
  opacity: .5;
  transition: opacity 1s ease;
}
